{% extends "base.html" %}
{% load static %}

<!-- 1. БЛОК ЗАГОЛОВОК (ОТКУДА БЕРЕМ) -->
{% block title %}
    <title>Сброс пароля (Password Done)</title>
{% endblock %}

<!-- 2. БЛОК КОНТЕНТА (ОТКУДА БЕРЕМ) -->

{% block content %}

<!-- Обработка ошибок из формы -->
{% if form.error %}
    <p>Error</p>
{% endif %}


<main id="MainContent" class="content-for-layout">
    <div class="login-page mt-100">
        <div class="container">
            <form method="POST" class="login-form common-form mx-auto">
                {% csrf_token %}
                 <div class="section-header mb-3">
                    <h2 class="section-heading text-center">Страница сброса пароля</h2>
                         <div class="text-center">
                            <p><b>Пароль был успешно изменен!</b></p>
                         </div>
                 </div>
                     <div class="col-12 mt-3">
                        <a href="{% url 'login' %}" class="btn-primary d-block mt-4 btn-signin">Повторить вход в систему</a>
                        <a href="{% url 'home' %}" class="btn-secondary mt-2 btn-signin">Перейти на главную</a>
                     </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}