{% extends "base.html" %}
{% load static %}

<!-- 1. БЛОК ЗАГОЛОВОК (ОТКУДА БЕРЕМ) -->
{% block title %}
    <title>Сброс пароля (Password)</title>
{% endblock %}

<!-- 2. БЛОК КОНТЕНТА (ОТКУДА БЕРЕМ) -->

{% block content %}

<!-- Обработка ошибок из формы -->
{% if form.error %}
    <p>Error</p>
{% endif %}

<main id="MainContent" class="content-for-layout">
    <div class="login-page mt-100">
        <div class="container">
            <form method="POST" class="login-form common-form mx-auto">
                {% csrf_token %}
                 <div class="section-header mb-3">
                    <h2 class="section-heading text-center">Страница ввода нового пароля</h2>
                         <div class="text-center">
                            <p><b>Введите пароль ниже:</b></p>
                         </div>
                 </div>
                    <div class="row">
                        <div class="col-12">
                            <fieldset>
                                <label class="label">{{ form.new_password1.label_tag }}</label>
                                {{ form.new_password1 }}
                            </fieldset>
                        </div>
                         <div class="col-12">
                            <fieldset>
                                <label class="label">{{ form.new_password2.label_tag }}</label>
                                {{ form.new_password2 }}
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn-primary d-block mt-4 btn-signin">СМЕНИТЬ ПАРОЛЬ</button>
                    </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}