{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

<!-- БЛОК ЗАГОЛОВОК start -->
{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}
<!-- БЛОК ЗАГОЛОВОК end -->

<!-- БЛОК КОНТЕНТА start -->
{% block content %}

<!-- breadcrumb start -->
        <div class="breadcrumb">
            <div class="container">
                <ul class="list-unstyled d-flex align-items-center m-0">
                    <li><a href="{% url 'home' %}">Главная страница</a></li>
                    <li>
                        <svg class="icon icon-breadcrumb" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.4">
                                <path
                                    d="M25.9375 8.5625L23.0625 11.4375L43.625 32L23.0625 52.5625L25.9375 55.4375L47.9375 33.4375L49.3125 32L47.9375 30.5625L25.9375 8.5625Z"
                                    fill="#000" />
                            </g>
                        </svg>
                    </li>
                    <li><a href="{% url 'blog' %}">Блог</a></li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb end -->

<main id="MainContent" class="content-for-layout">
<div class="article-page mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-12">
                <div class="article-rte">
                    <div class="article-img">
                        <img style="width:50%" src="{{ article.thumbnail.url }}" alt="img">
                    </div>
                    <div class="article-meta">
                        <h2 class="article-title">{{ article.title }}</h2>
                        <div class="article-card-published text_14 d-flex align-items-center">
                            <span class="article-author d-flex align-items-center">
                                <span class="icon-author">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
</svg>
                                </span>
                                <span class="ms-2">{{ article.created }}</span>
                            </span>
                        </div>
                    </div>

                    <div class="article-content">
                      {{ article.text|safe }}
                    </div>

                </div>
            </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="filter-drawer blog-sidebar">
                        <div class="filter-widget">
                            <div class="filter-header faq-heading heading_18 d-flex align-items-center border-bottom">
                                Другие статьи
                            </div>
                            {% for other_articles in other_articles %}
                            <div class="filter-related">
                                <div class="related-item related-item-article d-flex">
                                    <div class="related-img-wrapper">
                                        <img class="related-img" src="{{ other_articles.thumbnail.url }}" alt="img">
                                    </div>
                                    <div class="related-product-info">
                                        <h2 class="related-heading text_14">
                                            <a href="{{ other_articles.get_href }}">{{ other_articles.title }}</a>
                                        </h2>
                                        <p class="article-card-published text_12 d-flex align-items-center mt-2">
                                            <span class="article-date d-flex align-items-center">
                                                <span class="icon-publish">
                                                    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M3.46875 0.875V1.59375H0.59375V17.4063H16.4063V1.59375H13.5313V0.875H12.0938V1.59375H4.90625V0.875H3.46875ZM2.03125 3.03125H3.46875V3.75H4.90625V3.03125H12.0938V3.75H13.5313V3.03125H14.9688V4.46875H2.03125V3.03125ZM2.03125 5.90625H14.9688V15.9688H2.03125V5.90625ZM6.34375 7.34375V8.78125H7.78125V7.34375H6.34375ZM9.21875 7.34375V8.78125H10.6563V7.34375H9.21875ZM12.0938 7.34375V8.78125H13.5313V7.34375H12.0938ZM3.46875 10.2188V11.6563H4.90625V10.2188H3.46875ZM6.34375 10.2188V11.6563H7.78125V10.2188H6.34375ZM9.21875 10.2188V11.6563H10.6563V10.2188H9.21875ZM12.0938 10.2188V11.6563H13.5313V10.2188H12.0938ZM3.46875 13.0938V14.5313H4.90625V13.0938H3.46875ZM6.34375 13.0938V14.5313H7.78125V13.0938H6.34375ZM9.21875 13.0938V14.5313H10.6563V13.0938H9.21875Z" fill="#00234D"></path>
                                                    </svg>
                                                </span>
                                                <span class="ms-2">{{ other_articles.created }}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
<!-- БЛОК КОНТЕНТА end -->