{% extends "base.html" %}
{% load static %}

<!-- БЛОК ЗАГОЛОВОК start -->
{% block title %}
    <title>Доставка и оплата</title>
{% endblock %}
<!-- БЛОК ЗАГОЛОВОК end -->

<!-- БЛОК КОНТЕНТА start -->
{% block content %}
    <div class="body-wrapper">

        <!-- breadcrumb start -->
        <div class="breadcrumb">
            <div class="container">
                <ul class="list-unstyled d-flex align-items-center m-0">
                    <li><a href="/">Главная страница</a></li>
                    <li>
                        <svg class="icon icon-breadcrumb" width="64" height="64" viewBox="0 0 64 64" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.4">
                                <path
                                    d="M25.9375 8.5625L23.0625 11.4375L43.625 32L23.0625 52.5625L25.9375 55.4375L47.9375 33.4375L49.3125 32L47.9375 30.5625L25.9375 8.5625Z"
                                    fill="#000" />
                            </g>
                        </svg>
                    </li>
                    <li>Доставка и оплата</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb end -->

        <main id="MainContent" class="content-for-layout">
            <div class="about-page">
                <!-- about hero start -->
                <div class="about-hero mt-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="about-hero-content">
                                    <h1 class="about-title">Способы и условия оплаты</h1>
                                    <p class="about-hero-subtitle">Обратите, пожалуйста, внимание на ниже перечисленные
                                        условия:</p>
                                    <ul class="about-hero-action p-0">
                                        <li class="action-item d-flex">
                                            <div class="action-count">01</div>
                                            <div class="action-content">
                                                <h4 class="action-title">Наличный расчет</h4>
                                                <p class="action-subtitle">При оплате наличными наш продавец-консультант
                                                    свяжется с вами, чтобы подтвердить заказ и уточнить срок доставки.
                                                    После этого вы можете самостоятельно забрать заказ, произведя оплату
                                                    при самовывозе, или к вам приедет наш курьер, который доставит заказ
                                                    и примет платеж.</p>
                                            </div>
                                        </li>
                                        <li class="action-item d-flex">
                                            <div class="action-count">02</div>
                                            <div class="action-content">
                                                <h4 class="action-title">Оплата банковской картой курьеру</h4>
                                                <p class="action-subtitle">Вы можете оплатить товар лично курьеру на
                                                    месте доставки. Пожалуйста, сообщите об этом оператору или выберите
                                                    соответствующий пункт при оформлении заказа на сайте.
                                                    <b>Внимание!</b>
                                                    <br>К оплате курьеру принимаются следующие карты:
                                                    <br>- Visa (любых банков);
                                                    <br>- MasterCard (любых банков);
                                                    <br>- БЕЛКАРТ (эмитированные "Приорбанк" ОАО).
                                                    <br><br>К оплате <b>не принимаются карты</b>:
                                                    <br>- Maestro;
                                                    <br>- БЕЛКАРТ (эмитированные иными банками)</p>
                                            </div>
                                        </li>
                                        <li class="action-item d-flex">
                                            <div class="action-count">03</div>
                                            <div class="action-content">
                                                <h4 class="action-title">Оплата через ЕРИП</h4>
                                                <p class="action-subtitle">Совершить оплату можно с использованием
                                                    наличных денежных средств, электронных денег и платежных карточек в
                                                    банках, которые оказывают услуги по приему платежей, а также
                                                    посредством инструментов дистанционного обслуживания.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="about-hero-img">
                                    <img src="/media/img/about/delivery-poster.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about hero end -->

                <!-- about service start -->
                <div class="about-service pt-100 pb-100">
                    <div class="container">
                        <div class="section-header about-service-header text-center" data-aos="fade-up" data-aos-duration="700">
                            <h2 class="section-heading">Доставка по Минску</h2>
                        </div>
                        <div class="about-service-wrapper">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-6 col-12 py-4" data-aos="fade-up" data-aos-duration="1000">
                                    <div class="about-service-inner text-center">
                                        <div class="about-service-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                                              <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                            </svg>
                                        </div>
                                        <div class="about-service-content">
                                            <h4 class="about-service-title">Самовывоз:</h4>
                                            <p class="about-service-subtitle">Минск, ул. Не указан, д.0.
                                                <br><b>Ежедневно:</b> с 9.00 до 21.00
                                                <br><b>(обязательно предупредить менеджера о самовывозе)</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 py-4" data-aos="fade-up" data-aos-duration="1400">
                                    <div class="about-service-inner text-center">
                                        <div class="about-service-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                                              <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                                              <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
                                            </svg>
                                        </div>
                                        <div class="about-service-content">
                                            <h4 class="about-service-title">Стоимость доставки по Минску:</h4>
                                            <p class="about-service-subtitle">
                                                Общая стоимость товаров 50,00 BYN и более — <b>бесплатно</b>;
                                                <br>Стоимости заказа до 49,90 BYN - <b>7 BYN</b>.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-12 py-4" data-aos="fade-up" data-aos-duration="1700">
                                    <div class="about-service-inner text-center">
                                        <div class="about-service-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                              <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                              <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                              <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </div>
                                        <div class="about-service-content">
                                            <h4 class="about-service-title">Время доставки по Минску:</h4>
                                            <p class="about-service-subtitle"><b>Пн-Пт:</b> с 11.00 до 22.00
                                                <br><b>Сб-Вс:</b> с 11.00 до 20.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-header about-service-header text-center" data-aos="fade-up" data-aos-duration="700">
                            <h2 class="section-heading">Доставка по Беларуси</h2>
                        </div>
                        <div class="promotional-area mt-100">
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="300">
                            <div class="promotional-item overlay-blue">
                                <img src="/media/img/about/p1.jpg" alt="img">
                                <div class="promotional-absolute">
                                    <div class="promotional-content text-center">
                                        <h2 class="promo-title">Доставка в города Беларуси:</h2>
                                        <p class="promo-subtitle">Областные центры Брест, Витебск, Гомель, Гродно, Могилев -
                                            <b>ежедневно</b>.
                                        <br>(Кроме Минска).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="700">
                            <div class="promotional-item overlay-black">
                                <img src="/media/img/about/p2.jpg" alt="img">
                                <div class="promotional-absolute">
                                    <div class="promotional-content text-center">
                                        <h2 class="promo-title">Стоимость:</h2>
                                        <p class="promo-subtitle">Стоимость доставки - <b>от 11 BYN</b>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-duration="1000">
                            <div class="promotional-item overlay-yellow">
                                <img src="/media/img/about/p3.jpeg" alt="img">
                                <div class="promotional-absolute">
                                    <div class="promotional-content text-center">
                                        <h2 class="promo-title">Срок доставки в остальные города РБ:</h2>
                                        <p class="promo-subtitle">Время доставки с 7.00 до 23.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
                <!-- about service end -->
            </div>            
        </main>

    </div>
{% endblock %}
<!-- БЛОК КОНТЕНТА end -->